<% provide(:title, "Sign in") %>

<div class="login">
  <h1>Sign in</h1>
  <h2>to <%= @app.name %></h2>

  <div class="row">
    <div class="span6 offset3">
      <%= simple_form_for(:session, url: sessions_path) do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= hidden_field_tag :referrer, @app.id %>
        <%= f.submit "Sign in" %>
      <% end %>
    </div>
  </div>
</div>
