<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <ul>
    <% if signed_in? %>
      <% if current_user.admin? %>
        <li><%= link_to "Users", admin_users_path %></li>
        <li><%= link_to "Accounts", admin_accounts_path %></li>
        <li><%= link_to "Apps", admin_apps_path %></li>
      <% end %>
      <li><%= link_to "Signout", signout_path, method: :delete %></li>
    <% end %>
  </ul>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
